.bigButton {
  position: absolute;
  z-index: z(top);

  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;

  text-align: center;

  &--left, &--right {
    top: 0;

    background: color(primaryDark);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  }

  &--left {
    left: 0;

    border-bottom-right-radius: 50%;
  }

  &--right {
    right: 0;

    border-bottom-left-radius: 50%;
  }

  &__icon { fill: color(white); }
}
