.bigButton {
  position: absolute;
  z-index: z(top);

  display: flex;
  width: 7rem;
  height: 7rem;
  align-items: center;
  justify-content: center;
  padding: padding(S);

  text-align: center;

  &--left, &--right {
    bottom: 0;
    margin: margin(S);

    background: color(black);
    border-radius: radius(big);
    box-shadow: shadow(big);
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  &__icon { 
    height: 85%; 
    fill: color(white);
  }
}
