.btn-constainer {
  position: fixed;
  z-index: z(top);
  right: 0;
  bottom: 0;
  display: flex;

  width: 100%;
  justify-content: space-between;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
  box-shadow: shadow(small);
  text-align: center;
}

.btn--big {
  width: 7rem;
  height: 7rem;
  padding: padding(S);
  margin: margin(S);

  background: color(black);
  border-radius: radius(big);

  &__icon { 
    height: 85%; 
    fill: color(white);
  }
}
