.button {
  display: flex;
  width: var(--big-button-diameter);
  height: var(--big-button-diameter);
  align-items: center;
  justify-content: center;
  padding: 1.5rem;

  text-align: center;

  &--mapLeft, &--mapRight {
    background: rgba(0,0,0,0.7);
  }

  &--mapLeft {
    border-bottom-right-radius: 50%;
  }

  &--mapRight {
    border-bottom-left-radius: 50%;
  }

  &--back {
    position: absolute;
    top: 0;
    right: 0;
    
    width: var(--big-button-diameter);
    height: var(--big-button-diameter);
  }
}

.button__icon {
  fill: var(--color-white);
}