.mapButton {
  position: absolute;
  z-index: var(--top);
  top: 2%;

  // Center the SVG icons in the button
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  align-items: center;
  justify-content: center;

  // Make button contrast with the map
  border: 1px solid rgba(0,0,0,0.1);
  background-color: var(--color-white);
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  text-align: center;

  &--menu {
    right: 3%;
  }

  &--search {
    left: 3%;
  }
}

.mapButton__icon {
  fill: var(--color-primary);

  // The SVGs don't have uniform size: define sizes separately
  &--menu {
    height: 40%;
  }

  &--search {
    height: 50%;
  }
}