.menu {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(color(white), 0.9);

  &__link {
    width: 60%;
    padding: padding(S);
    margin: margin(M);
    
    background: color(black);
    border-radius: radius(small);
    box-shadow: shadow(small);
    color: color(white);
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
  }
}