.menu {
  display: flex;
  // Use viewport sizes instead of % since transition container
  // doesn't take full height/width
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(color(white), 0.9);

  @include bp(M) {
    width: 100%;
    height: 10%;
    flex-direction: row;
    justify-content: space-around;
  }

  &__link {
    // Center text in link button
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
    padding: padding(S);
    margin: margin(M);
    
    background: color(black);
    border-radius: radius(small);
    box-shadow: shadow(medium);
    color: color(white);
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    text-decoration: none;

    @include bp(M) {
      width: 25%;
      height: 60%;
      padding: padding(XXS) padding(S);
      margin: 0;
      font-size: 1.5rem;
    }
  }
}