*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include bp(XXS) { font-size: 70%; }
  @include bp(XS) { font-size: 75%; }
  @include bp(S) { font-size: 80%; }
  @include bp(M) { font-size: 62.5%; }
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

*[class$='title'] {
  font-family: 'Sarabun', Helvetica, Arial, sans-serif;
}

// Can't seem to move attribution box in react-mapbox-gl at the moment.
// Manually move with CSS for now.
.mapboxgl-ctrl-bottom-right {
  top: 10px;
}

.overlay {
  position: absolute;
  z-index: z(topMost);
  background-color: rgba(color(black), 0.9)
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

.switch-wrapper {
  width: 100%;
  height: 100vh;
}

.switch-wrapper--mobile,
.switch-wrapper--page {
  position: absolute;

  & > div {
    width: 100%;
    height: 100%;
  }
}

.switch-wrapper--search {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;

  @include bp(M) {
    width: 100%;
  }
}