html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.about,
.credits,
.search,
.menu {
  background: white;
}

.underlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}