*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include bp(XXS) { font-size: 70%; }
  @include bp(XS) { font-size: 75%; }
  @include bp(S) { font-size: 80%; }
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

*[class$='title'] {
  font-family: 'Sarabun', Helvetica, Arial, sans-serif;
}

// Can't seem to move attribution box in react-mapbox-gl at the moment.
// Manually move with CSS for now.
.mapboxgl-ctrl-bottom-right {
  top: 10px;
}

// Want div wrapper to be on top while a component is rendered by
// react router ...
div.overlay {
  z-index: z(topMost);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.switch-wrapper {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
}
 
.switch-wrapper > div {
  position: absolute;
}