// Places the component at the bottom of the stacking hierarchy
.underlay {
  position: absolute;
  z-index: z(bottomMost);
  top: 0;
  left: 0;
}

// Places the component at the top of the stacking hierarchy
.overlay {
  position: absolute;
  z-index: z(topMost);
  top: 0;
  left: 0;
}
