/* SASS variables will be used instead of CSS variables for this application. We
do this as CSS colors conflict with inbuilt SASS color functions, along with the 
fact that we don't need the ability to programatically change the theme or 
reassign variables with a cascade */

/*------------------------------------------------------------------
  Z-LEVELS
  ------------------------------------------------------------------*/

$stackingLevels: (
  bottomMost: -2,
  bottom: -1,
  top: 1,
  topMost: 2,
);

/*------------------------------------------------------------------
  COLORS
  ------------------------------------------------------------------*/

$colors: (
  primaryDark: #16425B,
  primary: #016FB9,
  primaryLight: #81C3D7,
  white: #F9F9F9,
);
