:root {
  /*------------------------------------------------------------------
    Z-LEVELS
   ------------------------------------------------------------------*/
  --bottomMost: -2;
  --bottom: -1;
  --top: 1;
  --topMost: 2;

  /*------------------------------------------------------------------
    COLORS
   ------------------------------------------------------------------*/
  --color-primary: #8DA7BE;
  --color-white: #F9F9F9;
}