.article {
  width: 100%;
  height: 100%;
  padding: padding(M) padding(XL);

  background-color: color(white);
  color: color(primary);

  &__heading {
    margin-bottom: margin(XXL);
    font-size: 4rem;
  }

  &__copy {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  &__credits {
    margin-top: margin(M);
    font-size: 1.5rem;
  }

  &__credit {
    margin: margin(S);
  }
}
