.article {
  width: 100vw;
  height: 100vh;
  padding: padding(XL) padding(L);

  background-color: color(white);
  color: color(black);
  // We add this scroll here in order to not have any jumpy transitions during
  // the transition from react-router-transition
  overflow-x: scroll;
  // Gives us space at the bottom of every page for the 
  // back button without needing to create a new padding
  // variable that is much bigger than the others.
  &::after {
    display: block;
    width: 1rem;
    height: 6rem;
    content: '';
  }

  &__heading {
    margin-bottom: margin(L);
    font-size: 4rem;

    &::after {
      display: block;
      width: 60%;
      height: 3px;
      margin-top: 0.5rem;

      background-color: color(black);
      content: '';
    }
  }

  &__copy,
  &__quote,
  &__credit, {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  &__copy { margin-bottom: margin(L); }

  &__quote {
    padding: padding(M);
    background-color: darken(color(white), 5%);
    quotes: '“' '”' '‘' '’';

    &::before { content: open-quote; }
    &::after { content: close-quote; }
  }

  &__credits {
    // Compensate for outside bullet by pushing
    // the list items inward from the left
    padding-left: padding(S);
    margin-top: margin(M);
    list-style: disc outside;
  }

  &__credit {
    margin-bottom: margin(S);
  }
}
