.loadingIcon {
  display: flex;
  color: color(white);

  &__circle {
    width: 1rem;
    height: 1rem;
    margin: margin(XXS);

    animation: loading linear .9s infinite;
    background: currentColor;
    border-radius: 50%;
  }

  // Delay animation to form 'wave' pattern
  @for $i from 1 through 4 {
    &__circle--#{$i} {
      animation-delay:($i - 1) * .12s
    }
  }
}

// We create pause at end of animation to delay the next iteration and
// smooth out the animation.
@keyframes loading {
  0% {
    opacity: 0.5;
    transform: translateY(0) scale(1);
  }
  30% {
    opacity: 1;
    // Note that we must use px instead of relative
    // units here due to issues with animations in Edge.
    // https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/16910913/
    transform: translateY(-30px) scale(1.3);
  }
  60% {
    opacity: 0.5;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0) scale(1);
  }
}
