.btn-container {
  position: fixed;
  z-index: z(top);
  right: 0;
  bottom: 0;
  display: flex;

  width: 100%;
  justify-content: space-between;
  pointer-events: none;
}

.btn {
  display: flex;
  width: 7rem;
  align-items: center;
  justify-content: center;
  padding: padding(XXS) padding(XS);
  
  border-radius: radius(small);
  box-shadow: shadow(medium);
  // Manually enable pointer events since parent has pointer-events
  // disabled.
  pointer-events: all;
  text-align: center;
}

.btn--big {
  width: 7rem;
  height: 7rem;
  padding: padding(S);
  margin: margin(S);

  background: color(black);
  border-radius: radius(big);

  &__icon { 
    height: 85%; 
    width: 100%;
    fill: color(white);
  }
}
