/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track { display: none; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: color(black); 
  border-radius: radius(small);
}