.btn-container {
  position: fixed;
  z-index: z(top);
  right: 0;
  bottom: 1rem;
  display: flex;

  width: 100%;
  justify-content: space-between;
  pointer-events: none;

  // Don't need button container on desktop layout
  @include bp(M) { display: none; }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: shadow(small);

  border: none;
  // Manually enable pointer events since .btn-container has pointer-events
  // disabled.
  pointer-events: all;
  text-align: center;
  transition: all 0.3s;

  &__icon { 
    width: 100%;
    height: 85%; 
  }
}

@include if-hover() {
  .btn:hover {
    box-shadow: shadow(medium);
    transform: translateY(-5%);
  }
}

.btn--filter {
  width: 9rem;
  padding: padding(XS) padding(M);
  
  background-color: color(black);
  border-radius: radius(small);
  box-shadow: shadow(medium);
  color: color(white);
  font-size: 1.5rem;
}

.btn--big {
  width: 7rem;
  height: 7rem;
  padding: padding(S);
  margin: margin(S);

  background: color(black);
  border-radius: radius(big);

  .btn__icon { fill: color(white); }
}

.btn--small {
  width: 4rem;
  height: 4rem;
  padding: padding(XS);
  background-color: color(black);
  border-radius: radius(big);

  .btn__icon { fill: color(white); }
}
