.filter {
  margin: margin(XS);
  transition: all 0.3s;

  &:not(:last-child) {
    border-bottom: 1px solid black;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: padding(XS) padding(S);

    background-color: color(white);
    border-radius: radius(small);
    color: color(black);

    @include bp(M) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include bp(XL) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__title {
    width: 60%;
    height: 100%;
    font-size: 1.9rem;
    transition: all 0.3s;

    @include bp(M) {
      width: 100%;
      margin-bottom: margin(XS);
    }

    @include bp(XL) {
      width: 60%;
      margin-bottom: 0;
    }
  }
}

.filter.isActive {

  .filter__header { 
    background-color: color(black);
    color: color(white);
  }
  // Want filters to be bunched up at first, but create whitespace around
  // the filters that are activated to make sure input fields don't get
  // physically closer to another filter.
  .form {
    margin-top: margin(XS);
    margin-bottom: margin(L);
  }

  .btn--filter {
    background-color: color(white);
    color: color(black);
  }
}

/*------------------------------------------------------------------
  SPECIFIC FILTERS
  ------------------------------------------------------------------*/

.filter--categories {
  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;

    @include bp(M) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .field {
    width: 50%;
    padding: padding(XXS) padding(XS);
    margin-bottom: margin(S);

    @include bp(M) {
      width: 100%;
    }

    &__name {
      display: flex;
      width: 80%;
      align-items: center;
      margin-left: margin(XXS);

      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }
}

.filter--categories.isActive {
  .form { 
    height: 31rem; 

    @include bp(M) {
      height: 50rem;
    }
  }
}

.filter--location {
  .form {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include bp(M) {
      flex-direction: column;
    }
  }

  .field__input {
    width: 8rem;

    @include bp(M) {
      width: 14rem;
    }
  }
}

.filter--location.isActive {
  .form { 
    height: 8rem; 

    @include bp(M) {
      height: 20rem;
    }
  }
}

.filter--dates {
  .form {
    @include bp(M) {
      flex-direction: column;
      align-items: center;
    }
  }
  .field__input {
    width: 20rem;

    @include bp(M) {
      width: 100%;
    }

    @include bp(L) {
      width: 20rem;
    }
  }
}

.filter--dates.isActive {
  .form { 
    height: 30rem;
  }
}

.month-picker {
  // Make it so month picker isn't cut off
  position: absolute;
}
