.filter {
  margin: margin(XS);
  transition: all 0.3s;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: padding(XS) padding(S);

    background-color: color(white);
    border-radius: radius(small);
    color: color(black);

    @include bp(M) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include bp(XL) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__title {
    width: 60%;
    height: 100%;
    font-size: 1.9rem;
    transition: all 0.3s;

    @include bp(M) {
      width: 100%;
      margin-bottom: margin(XS);
    }

    @include bp(XL) {
      width: 60%;
      margin-bottom: 0;
    }
  }
}

.filter.isActive {

  .filter__header { 
    background-color: color(black);
    color: color(white);
  }
  // Want filters to be bunched up at first, but create whitespace around
  // the filters that are activated to make sure input fields don't get
  // physically closer to another filter.
  .form {
    margin-top: margin(XS);
    margin-bottom: margin(L);
  }

  .btn--filter {
    background-color: color(white);
    color: color(black);
  }
}

/*------------------------------------------------------------------
  SPECIFIC FILTERS
  ------------------------------------------------------------------*/

.filter--dates {
  .form {
    @include bp(M) {
      flex-direction: column;
      align-items: center;
    }
  }
  .field__input {
    width: 20rem;

    @include bp(M) {
      width: 100%;
    }

    @include bp(L) {
      width: 20rem;
    }
  }
}

.filter--dates.isActive {
  .form { 
    height: 30rem;
  }
}

.month-picker {
  // Make it so month picker isn't cut off
  position: absolute;
}
