.search {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: color(white);
  // We add this scroll here in order to not have any jumpy transitions during
  // the transition from react-router-transition
  overflow-x: scroll;

  .btn-container {
    bottom: 7rem;
  }

  &__form {
    position: fixed;
    right: 50%;
    bottom: 2rem;

    width: 90%;
    height: 5rem;
    transform: translateX(50%);
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: padding(S) padding(M);

    border: 2px solid color(black);
    border-radius: radius(small);
    box-shadow: shadow(medium);
  }

  // Gives us space at the bottom of every page for the 
  // back button without needing to create a new padding
  // variable that is much bigger than the others.
  &::after {
    display: block;
    width: 1rem;
    height: 15rem;
    content: '';
  }
}

.search-results {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loadingIcon {
    color: color(black);
  }
}

.search-result {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: margin(S) 0;
  border-radius: radius(small);
  box-shadow: shadow(medium);

  &__info {
    display: flex;
    width: 50%;
    padding: padding(XS);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__title {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.4rem;

    text-align: center;
  }

  &__location {
    color: lighten(color(black), 10%);
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
  }

  &__category {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 80%;
    height: 80%;
  }
}

.search-result:nth-child(even) {
  background-color: darken(color(white), 5%);
}

.search-result:nth-child(odd) {
  background-color: color(white);
}
