.searchbar-container {
  position: fixed;
  right: 50%;
  bottom: 3rem;

  width: 90%;
  height: 5%;
  transform: translateX(50%);

  @include bp(XS) {
    // align center with buttons
    bottom: 2.5rem;
    // Shorten so buttons have room
    width: 60%;
  }

  // Move searchbar from bottom to top since we don't
  // need to account for thumbs on mobile devices
  @include bp(M) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    top: 0;
    right: 0;
    width: 100%;
    transform: none;
    background-color: #fff;
    box-shadow: shadow(medium);
  }

  .btn--small {
    border-radius: 0;
    height: 100%;
    width: 12%;
    margin: 0;
  }
}

.searchbar {
  line-height: 1;
  width: 100%;
  height: 100%;
  padding: padding(S) padding(M);

  border: 2px solid color(black);
  border-radius: radius(small);
  box-shadow: shadow(medium);
  color: color(black);
  font-size: 1.5rem;

  @include bp(M) {
    width: 88%;
    border: none;
    box-shadow: none;
  }
}