.search {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: color(white);
  overflow: hidden;

  @include bp(M) {
    width: 100%;
  }

  .btn-container {
    // Make room for searchbar on bottom
    bottom: 8rem;

    // Searchbar has enough space, bring back to bottom
    @include bp(XS) {
      bottom: 0;
    }
  }

  &__message {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 2rem;
    transform: translate(-50%, 50%);

    .loadingIcon {
      color: color(black);
    }
  }

  // Gives us space at the bottom of every page for the 
  // back button without needing to create a new padding
  // variable that is much bigger than the others.
  &::after {
    display: block;
    width: 1rem;
    height: 15rem;
    content: '';
  }

  @include bp(M) {
    &::after {
      height: 0;
    }
  }
}
