.filters {
  width: 100vw;
  height: 100vh;
  background-color: color(white);
  // We add this scroll here in order to not have any jumpy transitions during
  // the transition from react-router-transition
  overflow-x: scroll;

  // Gives us space at the bottom of every page for the 
  // back button without needing to create a new padding
  // variable that is much bigger than the others.
  &::after {
    display: block;
    width: 1rem;
    height: 10rem;
    content: '';
  }
}

/*------------------------------------------------------------------
  GENERAL FILTERS
  ------------------------------------------------------------------*/

.filter {
  margin: margin(S);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: padding(XS) padding(S);

    background: color(black);
    border-radius: radius(small);
    color: color(white);
    font-size: 1.5rem;
  }

  &__title {
    font-size: 1.9rem;
  }
}

/*------------------------------------------------------------------
  SPECIFIC FILTERS
  ------------------------------------------------------------------*/

.filter--categories {
  .form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
  }

  .form.isActive {
    height: 25rem;
  }

  .field {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: space-around;

    &__name {

    }
  }
}

.filter--location {
  .form {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .form.isActive {
    height: 8rem;
  }

  .field__input {
    width: 8rem;
  }
}

.filter--dates {
  .form.isActive {
    height: 6rem;
  }

  .field__input {
    width: 20rem;
  }
}
