/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.about,
.credits,
.search,
.menu {
  background: white; }

.underlay {
  position: absolute;
  z-index: var(--bottomMost);
  top: 0;
  left: 0; }

:root {
  /*------------------------------------------------------------------
    Z-LEVELS
   ------------------------------------------------------------------*/
  --bottomMost: -2;
  --bottom: -1;
  --top: 1;
  --topMost: 2;
  /*------------------------------------------------------------------
    COLORS
   ------------------------------------------------------------------*/
  --color-primary: #8DA7BE;
  --color-white: #F9F9F9;
  /*------------------------------------------------------------------
    COLORS
   ------------------------------------------------------------------*/
  --big-button-diameter: 3rem; }

.button {
  display: flex;
  width: var(--big-button-diameter);
  height: var(--big-button-diameter);
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  text-align: center; }
  .button--mapLeft, .button--mapRight {
    background: rgba(0, 0, 0, 0.7); }
  .button--mapLeft {
    border-bottom-right-radius: 50%; }
  .button--mapRight {
    border-bottom-left-radius: 50%; }
  .button--back {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--big-button-diameter);
    height: var(--big-button-diameter); }

.button__icon {
  fill: var(--color-white); }

.link {
  text-decoration: none; }
  .link--menu {
    width: 80%;
    padding: 2rem;
    margin: 2rem;
    border-right: 5px solid var(--color-white);
    border-left: 5px solid var(--color-white);
    border-radius: 5%;
    color: var(--color-white);
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center; }

.loadingIcon {
  display: flex; }
  .loadingIcon__circle {
    width: 1rem;
    height: 1rem;
    margin: 0.4rem;
    animation: loading linear .9s infinite;
    background: black;
    border-radius: 50%; }
  .loadingIcon__circle--1 {
    animation-delay: 0s; }
  .loadingIcon__circle--2 {
    animation-delay: 0.12s; }
  .loadingIcon__circle--3 {
    animation-delay: 0.24s; }
  .loadingIcon__circle--4 {
    animation-delay: 0.36s; }

@keyframes loading {
  0% {
    opacity: 0.5;
    transform: translateY(0) scale(1); }
  30% {
    opacity: 1;
    transform: translateY(-2.5rem) scale(1.3); }
  60% {
    opacity: 0.5;
    transform: translateY(0) scale(1); }
  100% {
    opacity: 0.5;
    transform: translateY(0) scale(1); } }

.loadingScreen {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightblue; }
  .loadingScreen__text {
    margin: 2rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem; }

.menu {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8); }

.buttonContainer {
  position: absolute;
  z-index: var(--top);
  top: 0;
  right: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between; }
