@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------------------------------------
  POSITION
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  LAYOUT
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  DECORATIONS
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  POSITION
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  LAYOUT
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  DECORATIONS
  ------------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sarabun', Helvetica, Arial, sans-serif; }

.mapboxgl-ctrl-bottom-right {
  top: 10px; }

div.overlay {
  width: 100%;
  height: 100%; }

div.overlay:empty {
  width: 0;
  height: 0; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.about,
.credits,
.search,
.filters,
.menu {
  background: white; }

.underlay {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0; }

.overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0; }

.bigButton {
  position: fixed;
  z-index: 10;
  display: flex;
  width: 7rem;
  height: 7rem;
  align-items: center;
  justify-content: center;
  padding: 1.65rem;
  text-align: center; }
  .bigButton--left, .bigButton--right {
    bottom: 0;
    margin: 1.65rem;
    background: #333333;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); }
  .bigButton--left {
    left: 0; }
  .bigButton--right {
    right: 0; }
  .bigButton__icon {
    height: 85%;
    fill: #F9F9F9; }

.loadingIcon {
  display: flex; }
  .loadingIcon__circle {
    width: 1rem;
    height: 1rem;
    margin: 0.55rem;
    animation: loading linear .9s infinite;
    background: #F9F9F9;
    border-radius: 50%; }
  .loadingIcon__circle--1 {
    animation-delay: 0s; }
  .loadingIcon__circle--2 {
    animation-delay: 0.12s; }
  .loadingIcon__circle--3 {
    animation-delay: 0.24s; }
  .loadingIcon__circle--4 {
    animation-delay: 0.36s; }

@keyframes loading {
  0% {
    opacity: 0.5;
    transform: translateY(0) scale(1); }
  30% {
    opacity: 1;
    transform: translateY(-2.5rem) scale(1.3); }
  60% {
    opacity: 0.5;
    transform: translateY(0) scale(1); }
  100% {
    opacity: 0.5;
    transform: translateY(0) scale(1); } }

.loadingScreen {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.3s; }
  .loadingScreen__text {
    margin: 2rem;
    color: #F9F9F9;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem; }

.almostDoneLoading {
  opacity: 0.7; }

.menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(249, 249, 249, 0.9); }
  .menu__link {
    width: 60%;
    padding: 1.65rem;
    margin: 2.2rem;
    background: #333333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #F9F9F9;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    text-decoration: none; }

.article {
  width: 100%;
  padding: 3.3rem 2.75rem;
  background-color: #F9F9F9;
  color: #333333; }
  .article::after {
    display: block;
    width: 1rem;
    height: 6rem;
    content: ''; }
  .article__heading {
    margin-bottom: 2.75rem;
    font-size: 4rem; }
    .article__heading::after {
      display: block;
      width: 60%;
      height: 3px;
      margin-top: 0.5rem;
      background-color: #333333;
      content: ''; }
  .article__copy, .article__quote, .article__credit {
    font-size: 1.5rem;
    line-height: 2.5rem; }
  .article__copy {
    margin-bottom: 2.75rem; }
  .article__quote {
    padding: 2.2rem;
    background-color: #ececec;
    quotes: '“' '”' '‘' '’'; }
    .article__quote::before {
      content: open-quote; }
    .article__quote::after {
      content: close-quote; }
  .article__credits {
    padding-left: 1.65rem;
    margin-top: 2.2rem;
    list-style: disc outside; }
  .article__credit {
    margin-bottom: 1.65rem; }

.search {
  min-height: 100%; }

.link {
  color: #00C896;
  text-decoration: none; }

.mapboxgl-popup-content {
  padding: 0; }

.popup {
  width: 25rem;
  height: auto;
  background-color: #F9F9F9; }
  .popup__primary {
    padding: 1.1rem; }
  .popup__primary {
    display: flex;
    height: 40%;
    align-items: center;
    justify-content: space-around; }
  .popup__title {
    width: 40%;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.7rem;
    text-align: center; }
  .popup__event-icon {
    width: 60%;
    height: 10rem; }
  .popup__secondary, .popup__tertiary {
    padding: 0.55rem;
    border-top: 2px solid #ececec; }
  .popup__date, .popup__location, .popup__search {
    display: flex;
    align-items: center;
    margin: 1.1rem;
    font-size: 1.2rem; }
  .popup__date-icon, .popup__location-icon, .popup__search-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1.65rem; }
  .popup__sub-heading, .popup__sources {
    margin-left: 1.1rem; }
  .popup__sub-heading {
    font-size: 1.5rem;
    margin-bottom: 1.1rem; }
  .popup__sources {
    display: flex;
    flex-wrap: wrap; }
  .popup__source:not(:last-child) {
    margin-right: 1.5rem; }
