.mapboxgl-popup-content {
  // We use this !important since MapBox seems to write in styles after
  // our stylesheet, so the MapBox styles would override whatever 
  // we put in here. Passing in this style in the component was
  // considered, but it ends up being uglier in my opinion, especially
  // since we have to reach through children nodes to apply this.
  padding: 0 !important;
}

.popup {
  width: 25rem;
  height: auto;
  background-color: color(white);

  @include bp(XXS) { width: 33rem; }

  &__primary {
    padding: padding(XS);
  }

  &__primary {
    display: flex;
    height: 40%;
    align-items: center;
    justify-content: space-around;
  }

  &__title {
    width: 40%;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.7rem;

    text-align: center;

    @include bp(XXS) {
      font-size: 2.1rem;
      line-height: 3rem;
    }
  }

  &__event-icon {
    width: 60%;
    height: 10rem;
  }

  &__secondary,
  &__tertiary {
    padding: padding(XXS);
    border-top: 2px solid darken(color(white), 5%);
  }

  &__date,
  &__location,
  &__search {
    display: flex;
    align-items: center;
    margin: margin(XS);
    font-size: 1.2rem;
    
    @include bp(XXS) { font-size: 1.5rem; }
  }

  &__date-icon,
  &__location-icon,
  &__search-icon {
    width: 2rem;
    height: 2rem;
    margin-right: margin(S);

    @include bp(XXS) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__sub-title,
  &__sources {
    margin-left: margin(XS);
  }

  &__sub-title {
    margin-bottom: margin(XS);
    font-size: 1.5rem;

    @include bp(XXS) {
      font-size: 1.8rem;
    }
  }

  &__source {
    font-size: 1rem;

    @include bp(XXS) { font-size: 1.3rem; }
  }

  &__sources {
    display: flex;
    flex-wrap: wrap;
  }

  &__source:not(:last-child) {
    margin-right: 1.5rem;
  }
}