.link {
  text-decoration: none;

  &--menu {
    width: 60%;
    padding: padding(S);
    margin: 3rem;
    
    border: 1px solid color(primary);
    border-radius: $borderRadius;
    color: color(primary);
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
  }
}
