.link {
  text-decoration: none;

  &--menu {
    width: 60%;
    padding: 1.5rem;
    margin: 3rem;
    
    border: 1px solid color(white);
    border-radius: 3px;
    color: color(primary);
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
  }
}
